body{
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
  margin: 0;
  padding: 0;
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  height: 69px;
  background-color: black;
  border-bottom: 1px solid seashell;
  width: 100%;
  position: fixed;
  flex-wrap: wrap;
  z-index: 2;
}
header img{
  height: 50px;
  width: 157px;
}

header nav ul li{
  display: inline-block;
  margin-right: 20px;
  color: seashell;

}
header nav ul li a{
  color: seashell;
}

header nav ul li a:visited{
  color: seashell;
}

main{
  position: relative;
  top: 69px;
}
.sec1{
  display: flex;
  background-image: url("../images/img-mission-background.jpg");
  height: 700px;
  width: 1200px;
  margin: 0 auto;
  align-items: center;
}

.mission{
  background-color: black;
  width: 100%;
  align-items: center;
}

.sec2{
  width: 1000px;
  margin: 0 auto;
  padding: 69px 0;
}

.tea1{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tea img{
  width: 300px;
  height: 200px;
}

.tea2{
  display: flex;
  justify-content: center;
  align-items: center;
}

.tea2 img{
  margin: 10px 23px;
}

.tea h4{
  margin: 10px 0;
}

.sec3{
  width: 1200px;
  height: 500px;
  margin: 0 auto;
  background-image: url("../images/img-locations-background.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sec3 h2{
  margin-bottom: 0 0 15px 0;

}
.locations{
  display: flex;
  justify-content: center;
  margin: 0;
}

.loc{
  background-color: black;
  width: 300px;
  margin: 0 20px;
}

.loc h4{
  font-weight: normal;
}

.sec4{
  height: 200px;
  margin: 0 auto;
  padding-top: 0px;
}

footer{
  text-align: left;
  margin: 69px 20px;
}
